[Unit]
PartOf=houndson.io.service

[Socket]
ListenStream=/tmp/houndson-io.sock
SocketUser=www-data
SocketGroup=www-data

[Install]
WantedBy=sockets.target